<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <a href="/create">Adicionar Novo Evento</a>
    <ul>
        {% for evento in eventos %}
            <li>
                <strong>{{ evento.titulo }}</strong><br>
                Descrição: {{ evento.descricao }}<br>
                Data de Início: {{ evento.data_inicio.strftime('%Y-%m-%d %H:%M') }}<br>
                Data de Fim: {{ evento.data_fim.strftime('%Y-%m-%d %H:%M') }}<br>
                Localização: {{ evento.localizacao }}<br>
                Capacidade: {{ evento.capacidade }}<br>
                Gratuito: {{ 'Sim' if evento.gratuito else 'Não' }}<br>
                {% if not evento.gratuito %}
                    Preço: R$ {{ evento.preco }}<br>
                {% endif %}
                Idade Mínima: {{ evento.idade_minima or 'Nenhuma' }}<br>
                Condições Climáticas: <br>
                <table border="1">
                    <tr>
                        <th>Data</th>
                        <th>Sensação Térmica</th>
                        <th>Temperatura</th>
                        <th>Temperatura Máxima</th>
                        <th>Temperatura Mínima</th>
                    </tr>
                    {% for data, condicoes in evento.condicoes_climaticas.items() %}
                    <tr>
                        <td>{{ data }}</td>
                        {% if "API OpenWeather não tem informações sobre a data" in condicoes %}
                            <td colspan="4">{{ condicoes }}</td>
                        {% else %}
                            <td>{{ condicoes.sensacao_termica }} °C</td>
                            <td>{{ condicoes.temperatura }} °C</td>
                            <td>{{ condicoes.temperatura_max }} °C</td>
                            <td>{{ condicoes.temperatura_min }} °C</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                CEP: {{ evento.cep }}<br>
                Logradouro: {{ evento.logradouro }}<br>
                Bairro: {{ evento.bairro }}<br>
                Cidade: {{ evento.cidade }}<br>
                UF: {{ evento.uf }}<br>
                Número: {{ evento.numero }}<br>
                <a href="/update/{{ evento.id }}">Editar</a>
                <a href="/delete/{{ evento.id }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>